.item-box {
  border: 1px solid #dee2e6;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  background-color: #f8f9fa;
}

.remove-btn {
  background-color: white;
  border: 1px solid #ffa07a;
  color: #d35400;
}

.add-btn {
  background-color: white;
  border: 1px solid #1976d2;
  color: #1976d2;
}

label {
  margin-bottom: 0.2rem;
}

.required::after {
  content: "*";
  color: red;
  margin-left: 2px;
}
